/*This is the CSS page for our final template.*/
 ;
.footer p { font-family:Times New Roman, sans-serif;
	background-color: #1D3461;
	text-align: center;
	font-size: 20px;
	margin-bottom: 0;
	color:#FFFFFF;
}
.header {
	height: auto;
	font-weight: bold;
	font-size: 15px;
	text-align: center;
	font-family: 'Times New Roman',sans-serif;
	background-color: #1D3461;
	color:#FFFFFF;		
}

h2 {font-size: 30px;
	color:#FFFFFF;
	font-family: 'Oswald',sans-serif;}

p { color: #102542:; 
	font-family: 'Times New Roman',sans-serif;}
h4 {
	font-style: italic;
	font-size: 40px;
	font-family: 'Times New Roman', serif;
	font-size: 17px;
}
h3 {
	font-size: 30px;
	color:#102542;
	font-family: 'Times New Roman',sans-serif;
}



.oswald-subhead{
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
/*Don't worry about this section yet*/
@media only screen and (max-width: 767px)
{

 .list { 
 	border: 2px solid darkgray;
 	padding-left:10 px;
 	float: none;
 	min-width: 90%;
 	margin-left: 10px;
 	margin-bottom: 30px;
 	margin-top: 30px;
 	color: #102542;
 	font-family: 'Times New Roman',sans-serif; 

 }
 .img { float:margin-right=5% margin-left=5% }
 iframe {
 	min-width: 90%;
 	margin-right: 10px;
 }

.footer p {font-family:Times New Roman, sans-serif;
	background-color: #1D3461;
	text-align: center;
	font-size: 20px;
	margin-bottom: 0;
	color:#FFFFFF;}
}
